@media(min-width: 800px){
    .inpDiv{
        display: flex;
        flex-basis: 100%;
        min-width: 620px;
    }
}

.rootCont{
    display: flex;
    justify-content: center;
}

.contnr{
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    border-color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.20);
}

.inp{
    width: 100%;
    padding: 10px;
}

.inpDiv1{
    flex-basis: 100%;
    min-width: 620px;
    padding: 5px;
}

.inp1{
    padding-top: 10px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icbtn{
    width: 100%;
    display: flex;
}

.close{
    position: relative;
    left:60%;
    font-family: 'Product Sans',Arial,sans-serif;
}
