@media(min-width: 900px){
    .inpDiv{
        display: flex;
        flex-basis: 100%;
        min-width: 620px;
    }
    .inpDiv1{
        display: flex;
        flex-basis: 100%;
        min-width: 620px;
    }
}

.rootCont{
    display: flex;
    justify-content: center;
}

.contnr{
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    border-color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.20);
}

.inp{
    width: 100%;
    padding: 10px;
}

.inpDiv{
    display: flex;
    flex-basis:30%;
}

.inpDiv1{
    display: flex;
    flex-basis:30%;
    flex-direction: column;
    padding: 5px;
}

.inp1{
    width: 100%;
    padding: 10px;
}

.icbtn{
    width: 100%;
    display: flex;
}

.close{
    margin-right: 5px;
}

.createActionArea{
    display: flex;
}
