.colorBox{
    display: grid;
    position: absolute;
    margin-top: -68px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.6em;
    padding: 5px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.color{
    display: flex;
    border-style: solid;
    border-radius: 50%;
    border-color:  1px "black";
}

.clr{
    display: flex;
    padding: 8px;
    border-style: solid;
    border-radius: 50%;
    color: #8e9194;
}

.owner{
    display: flex;
    align-items: center;
}

.ownMail{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
}

.own{
    font-style: italic;
}

.coll{
    margin-left: -12px;
}

.colMail{
    display: flex;
    align-items: center;
}

.colMailId{
    flex: 1;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
}

.colHeader{
    flex: 1;
    font-size: 20px;
    font-weight: 700;
}

.colDiv{
    margin-top: 12px;
    margin-bottom: 12px;
}