.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30%;
	// color: #000000;
	 position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
     top: 50%;
	 padding:  40px 40px 36px;
	 flex-wrap: wrap;
    h2{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-style: oblique;
	}
}

.login .hdr{
	text-align: center;
	font-family: 'Google Sans',arial,sans-serif;
}

.margin{
	margin-bottom: 12px;
}

.login .btnn1{
	display: flex;
	justify-content: space-between;
}

.login .btnn2{
	color: #1a73e8;
	
}

.login .PrDSKc{
    padding-bottom: 20px;
    padding-top: 9px;
    margin-bottom: 12px;
}

.errorMsg {
	color: #cc0000;
	margin-bottom: 12px;
}

a{
	color: #1a73e8;
    font-family: 'Google Sans',arial,sans-serif;
    position: relative;
}
a:hover{
	background-color: rgb(223, 229, 240);
}