.cnt input{
    width: 100%;
    border-style: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.nic{
    width: 40px;
    height: 40px;
    padding-right: 4px;
}

.niciv{
    padding-left: 4px;
    color: #5f6368;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    position: relative;
    top: -1.5px;
}

.search{
    display: flex;
    position: relative;
    width: 750px;
    border-style:solid;
    border-color: #eaecee;
    border-radius: 11px; 
    background-color:#eaecee;
    margin-right: 16px;
    margin-left: 20px;
}

.search:hover{
        background-color: #ffff;
}

.searchIcon{
    color: #5f6368;
    padding: 0px 16px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputRoot{
    display: flex;
    padding: inherit;
    padding-left: 64px;
}

.slideBar{
    height: 100%;
    background-color: white;
    flex-direction: column;
    position: fixed;
    top:65px;
    left: 0px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    width: 350px;
}

.sideCont{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 24px;
    margin-bottom: 5px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
}

.slideBar :hover{
    background-color: rgb(250, 221, 93);
}