.register {
    min-width: 275;
	color: #000000;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
    top: 50%;
	padding: 40px 40px 36px;
	h2{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-style: oblique;
	}
}

.register .hdr{
	text-align: center;
	font-family: 'Google Sans',arial,sans-serif;
}

.margin{
	margin-bottom: 12px;
}

.register .btn1{
	background-color: #1a73e8;
	position: relative;
	left: 35%;
	margin-bottom: 12px;
}

.register .btn2{
	color: #1a73e8;
    cursor: pointer;
    font-family: 'Google Sans',arial,sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    padding: 6px 0;
    position: relative;
}

.errorMsg {
	color: #cc0000;
	margin-bottom: 12px;
}

a{
	color: #1a73e8;
	text-decoration: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
	background-color: rgb(223, 229, 240);
}
