.trash{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 15px;
}

.trashCont{
    display: flex;
    margin-left: 20%;
    flex-wrap: wrap;
}

.trashNote{
    margin-left: 30px;
    width: 260px;
    margin-bottom: 20px;
}
